# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
pip-wheel-metadata/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg

# pyenv
.python-version

# dotenv
.env

# virtualenv
venv/
ENV/

# IDEs and editors
.idea/
.vscode/
*.sublime-project
*.sublime-workspace
*.komodoproject
.komodotools/
.kate-swp/
.kateconfig
*.tmproj
.tmproject
*.tm_properties
.tm_properties

# Miscellaneous
*.bak
*.swp
*~

# Jupyter Notebook
.ipynb_checkpoints

# pyenv environment version file
.python-version

# pyre-check configuration file
.pyre/

# mypy
.mypy_cache/
.dmypy.json
dmypy.json

# End of https://www.gitignore.io/api/python

# Personal customization
datas
